.navbar {
    background-color: #01579b;
}

.navbar a{
    color: #fffafa;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}


.navbar a:hover{
    opacity: .6;
    transition: all 1s ease;
}

.active {
    background-color: #fffafa;
    color: #01579b !important;
    opacity: 1 !important;
}

.uk-navbar-dropdown-nav a{
    color: #01579b;
}