@import '../../assets/sass/variables';

.navbar {
    background-color: $color-navbar;
}

.navbar a{
    color: #fffafa;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}


.navbar a:hover{
    opacity: .6;
    transition: all 1s ease;
}

.active {
    background-color: #fffafa;
    color: $color-navbar !important;
    opacity: 1 !important;
}

.uk-navbar-dropdown-nav a{
    color: $color-navbar;
}