nav ul a {
    color: white;
}

nav li:hover {
    background-color: white;
}

nav ul a:hover {
    color: #263238;
}

.scrolled {
    background-color: #fff !important;
    transition: background-color 250ms linear;
}

.color {
    background-color: #01579b;
    transition: background-color 250ms linear;
}