<div class="container">
  <h4 class="blue-grey-text text-darken-1"><b>Cadastro de novo usuário</b></h4>
  <div class="row">
    <form id="cadastroForm" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input [(ngModel)]="user.nome" id="nome" type="text" class="validate" name="nome">
          <label for="nome">Nome</label>
        </div>
        <div class="input-field col s6">
          <input [(ngModel)]="user.senha" id="senha" type="password" class="validate" name="senha">
          <label for="senha">Senha</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input [(ngModel)]="user.email" id="email" type="email" class="validate" name="email">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <select [(ngModel)]="user.profile" name="profile">
            <option value='' disabled selected>Perfil de usuário</option>
            <option value='Solucionador'>Solucionador</option>
            <option value='Demandante'>Demandante</option>
            <option value='Ambos'>Ambos</option>
          </select>
        </div>
      </div>
      <button class="waves-effect waves-light btn green" (click)="signup()">Cadastrar</button>
    </form>
  </div>
</div>