<div class="uk-section">
  <div class="uk-container">
    <h2 class="ap-title"><b>Desafios</b></h2>

    <form id="desafiosForm">
      <div uk-grid>
        <div class="uk-width-1-2">

          <a class="uk-button uk-button-default" href="" uk-toggle="target: #modal-criar-novo"><span
              class="uk-margin-right" uk-icon="icon: plus"></span>
            Criar Novo</a>
          <div class="uk-inline">
            <button class="uk-button uk-button-default" type="button" uk-icon="icon: triangle-down">Área</button>
            <div uk-dropdown>
              <ul class="uk-nav uk-dropdown-nav">
                <li *ngFor="let area of areaoptions | async"><a (click)="setArea(area.nome)">{{area.nome}}</a></li>
              </ul>
            </div>
          </div>

          <div class="uk-inline">
            <button class="uk-button uk-button-default" type="button" uk-icon="icon: triangle-down">Ver</button>
            <div uk-dropdown>
              <ul class="uk-nav uk-dropdown-nav">
                <li *ngIf="user?.profile !== 'Solucionador'" class="uk-active"><a (click)="setUserEmail()"><i
                      class="fas fa-user uk-margin-right"></i>Meus
                    Desafios</a></li>
                <li (click)="cleanFilters()" class="uk-active"><a (click)="setUserEmail()"><i
                      class="fas fa-infinity uk-margin-right"></i>Todos
                    os Desafios</a></li>
                <li class="uk-active"><a (click)="setStatus('concluído')"><i
                      class="fas fa-check uk-margin-right"></i>Desafios
                    Concluídos</a></li>
                <li class="uk-active"><a (click)="setStatus('submissão')"><i
                      class="fas fa-file-download uk-margin-right"></i>Desafios
                    Submissão</a></li>
                <li class="uk-active"><a (click)="setStatus('release')"><i
                      class="fas fa-location-arrow uk-margin-right"></i>Desafios
                    Release</a></li>
                <li class="uk-active"><a (click)="setRemunerado()"><i
                      class="fas fa-dollar-sign uk-margin-right"></i>Desafios
                    Remunerados</a></li>
                <li *ngIf="user?.profile != 'Demandante'" class="uk-active"><a (click)="setSolucoesFilter()"><i
                      class="far fa-lightbulb uk-margin-right"></i>Minhas
                    soluções</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div>

          <div class="uk-margin">
            <form class="uk-search uk-search-default uk-width-large">
              <span class="uk-search-icon-flip" uk-search-icon></span>
              <input [(ngModel)]="search" name="search" class="uk-search-input" type="search" placeholder="Pesquisar">
            </form>
          </div>
        </div>

        <!--
        <ul class="collapsible popout">
          <ng-container
            *ngFor="let desafio of desafios | async | filterBy: ['emaildemandante']: userEmail | filterBy: ['status']: status
            | filterBy: ['status', 'nome', 'demandante', 'resumo', 'area']: search | filterBy: ['area']: area | filterBy: ['remunerado']: remunerado">
            <li *ngIf="!solucoesFilter">
              <div [ngClass]="{'green lighten-1 white-text': desafio.status == 'concluído'}"
                (click)="reInitMaterialize()" class="collapsible-header">
                <i *ngIf="desafio.status == 'concluído'" style="margin-right:20px"
                  class="tiny material-icons white-text">done</i>
                {{desafio.nome}}

                <div class="row"></div>
                <span><i [ngClass]="{'white-text': desafio.status == 'concluído'}"
                    class="red-text material-icons">access_time</i></span>Prazo
                para Submissão
                {{desafio.prazo.toDate().toLocaleDateString('pt-BR')}} às
                {{desafio.prazo.toDate().toLocaleTimeString('pt-BR')}}
              </div>
              <div style="position: relative" class="collapsible-body">
                <a style="margin-right:20px" (click)="findOne(desafio.id)"
                  *ngIf="desafio.emaildemandante === user.email && desafio.status != 'concluído'"
                  class="btn-floating btn-small waves-effect waves-light blue modal-trigger" href="#modalEdit"><i
                    class="material-icons">edit</i></a>
                <a (click)="findOne(desafio.id)" *ngIf="desafio.emaildemandante === user.email"
                  style="margin-right:20px" class="btn-floating btn-small waves-effect waves-light red modal-trigger"
                  href="#modalDelete"><i class="tiny material-icons">delete</i></a>
                <a (click)="findOne(desafio.id)"
                  *ngIf="desafio.emaildemandante === user.email && desafio.status != 'concluído'"
                  class="btn-floating btn-small waves-effect waves-light green modal-trigger" href="#modalComplete"><i
                    class="tiny material-icons">done</i></a>

                <p><b class="blue-text text-darken-3">Demandante:</b> {{desafio.demandante}}</p>
                <p><b class="blue-text text-darken-3">Email do Demandante:</b> {{desafio.emaildemandante}}</p>
                <p><b class="blue-text text-darken-3">Área do problema:</b> {{desafio.area}}</p>
                <p><b class="blue-text text-darken-3">Resumo:</b> {{desafio.resumo}}</p>
                <p><b class="blue-text text-darken-3">Remuneração:</b> {{desafio.remunerado}}</p>

                <a (click)="getDesafioId(desafio.id)" style="position: absolute; right:10px; bottom:10px;"
                  *ngIf="desafio.emaildemandante !== user.email && desafio.status != 'concluído' && user.profile != 'Demandante' && !(solucoesArray.includes(desafio.id))"
                  class="waves-effect waves-light btn modal-trigger light-blue darken-2" href="#modalSolver"><i
                    class="material-icons left">send</i>Solucionar</a>
                <a (click)="findOneSolver(desafio.id)" style="position: absolute; right:10px; bottom:10px;"
                  *ngIf="desafio.emaildemandante !== user.email && user.profile != 'Demandante' && solucoesArray.includes(desafio.id)"
                  class="waves-effect waves-light btn modal-trigger yellow darken-3" href="#modalSeeSolver"><i
                    class="material-icons left">remove_red_eye</i>Ver
                  Sua Solução</a>

                <ul class="collapsible">
                  <ng-container *ngFor="let solucao of solucoes | async">
                    <li *ngIf="desafio.id == solucao.idDesafio && desafio.emaildemandante == user.email">
                      <div class="collapsible-header amber lighten-2"><i
                          class="material-icons">lightbulb_outline</i>Solução
                        do
                        {{solucao.solver}} - {{solucao.emailsolver}}</div>
                      <div class="collapsible-body">
                        <p><b class="blue-text text-darken-3">Enviado em:</b>
                          {{solucao.sendAt.toDate().toLocaleDateString('pt-BR')}} às
                          {{solucao.sendAt.toDate().toLocaleTimeString('pt-BR')}}</p>
                        {{solucao.resumo}}
                      </div>
                    </li>
                  </ng-container>
                </ul>

              </div>
            </li>
          </ng-container>
        </ul>-->

        <div class="uk-width-1-1">
          <ul class="uk-box-shadow-medium" uk-accordion="collapsible: true" *ngFor="let desafio of desafios | async | filterBy: ['emaildemandante']: userEmail | filterBy: ['status']: status
          | filterBy: ['status', 'nome', 'demandante', 'resumo', 'area']: search | filterBy: ['area']: area | filterBy: ['remunerado']: remunerado">
            <li>
              <a class="uk-accordion-title bg-grey" [ngClass]="{'bg-green accordion-text': desafio.status == 'concluído'}" href="#">{{desafio.nome}}</a>
              <div style="padding-left:10px; padding-bottom:10px;" class="uk-accordion-content">
                <a href="" class="uk-icon-button uk-margin-right" uk-icon="pencil" title="Editar Desafio"
                  uk-toggle="target: #modal-criar-novo"></a>
                <a href="" class="uk-icon-button uk-margin-right" uk-icon="trash"
                  uk-toggle="target: #modal-deletar-desafio" title="Deletar Desafio"></a>
                <a href="" class="uk-icon-button uk-margin-right" uk-icon="check" title="Concluir Desafio"
                  uk-toggle="target: #modal-concluir-desafio"></a>

                <p><b>Demandante: </b>{{desafio.demandante}}</p>
                <p><b>Email do Demandante: </b>{{desafio.emaildemandante}}</p>
                <p><b>Área do problema: </b>{{desafio.area}}</p>
                <p><b>Resumo: </b>{{desafio.resumo}}</p>
                <p><b>Remuneração: </b>{{desafio.remunerado}}</p>

                <a class="uk-button uk-button-primary" uk-toggle="target: #modal-criar-novo" (click)="getDesafioId(desafio.id)" *ngIf="desafio.emaildemandante !== user?.email && desafio.status != 'concluído' && user?.profile != 'Demandante' && !(solucoesArray.includes(desafio.id))"><span class="uk-margin-right" uk-icon="icon: file-edit"></span>
                Solucionar</a>
                <a class="uk-button uk-button-primary" uk-toggle="target: #modal-criar-novo" (click)="findOneSolver(desafio.id)" *ngIf="desafio.emaildemandante !== user.email && user.profile != 'Demandante' && solucoesArray.includes(desafio.id)"<i class="far fa-eye uk-margin-right"></i>Ver Sua Solução</a>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </form>
  </div>
</div>

<!--Modal Criar Novo Desafio-->
<div id="modal-criar-novo" uk-modal>
  <div style="width: 800px;" class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title ap-title">Criar Novo Desafio</h2>

    <div uk-grid>
      <div class="uk-width-1-1">
        <input class="uk-input" [(ngModel)]="desafio.nome" type="text" placeholder="Nome do Desafio">
      </div>
      <div class="uk-width-1-2">

        <select name="area2" (ngModel)="desafio.area" class="uk-select">
          <option [ngValue]="null" disabled selected>Seleciona a Área</option>
          <option *ngFor="let area of areaoptions | async" [ngValue]="area.nome">
            {{ area.nome }}
          </option>
        </select>
      </div>
      <div class="uk-width-1-2">
        <angular2-date-picker [(ngModel)]="date" [settings]="settings"></angular2-date-picker>
      </div>

      <div>
        <p>
          <label>
            <input class="uk-radio uk-margin-right" value="Sim" name="remunerado" type="radio" />
            <span>Remunerado</span>
          </label>
        </p>
        <p>
          <label>
            <input class="uk-radio uk-margin-right" value="Não" name="remunerado" type="radio" checked />
            <span>Não Remunerado</span>
          </label>
        </p>
      </div>

      <div class="uk-width-1-1">
        <textarea id="resumo" class="uk-textarea" name="resumo" required="" aria-required="true"
          placeholder="Resumo do Desafio"></textarea>
      </div>

    </div>

    <div class="uk-flex uk-flex-right uk-margin-top">
      <div>
        <button class="uk-button uk-button-primary uk-margin-right" type="button">Criar Desafio</button>
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
      </div>
    </div>

  </div>
</div>

<!--Modal Deletar Desafio-->
<div id="modal-deletar-desafio" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div class="uk-modal-header">
      <h2 class="uk-modal-title ap-title">Confirmação</h2>
    </div>
    <div class="uk-modal-body">
      <p>Tem certeza que deseja excluir este desafio?. Todos os dados referentes a ele serão perdidos.</p>
    </div>

    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-primary uk-margin-right" type="button">Deletar Desafio</button>
      <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
    </div>

  </div>
</div>

<!--Modal Concluir Desafio-->
<div id="modal-concluir-desafio" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div class="uk-modal-header">
      <h2 class="uk-modal-title ap-title">Confirmação</h2>
    </div>
    <div class="uk-modal-body">
      <p>Tem certeza que deseja marcar este desafio como concluído? Não será mais possível receber soluções para ele.
      </p>
    </div>

    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-primary uk-margin-right" type="button">Confirmar Conclusão</button>
      <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
    </div>

  </div>
</div>
<!--
<div class="container">
  <div style="margin-bottom: 0" class="row">
    <h4 class="font-bold blue-text text-darken-3">Desafios
      <hr>
    </h4>
  </div>
  <div class="row valign-wrapper">
    <div class="col s6 ">
      <a (click)="reInitMaterialize()" *ngIf="user.profile !== 'Solucionador'" class="waves-effect waves-light btn modal-trigger green darken-1"
        href="#modal1"><i class="material-icons left">add</i>Criar
        novo</a>
      &nbsp;
      <a class='dropdown-trigger btn  light-blue darken-3' href='#' data-target='dropdownArea'><i class="material-icons right">arrow_drop_down</i>
        Área</a>
      &nbsp;
      <a class='dropdown-trigger btn  light-blue darken-3' href='#' data-target='dropdownVer'><i class="material-icons right">arrow_drop_down</i>
        Ver</a>


      <ul id='dropdownVer' class='dropdown-content'>
        <li *ngIf="user.profile !== 'Solucionador'"><a (click)="setUserEmail()" class="waves-effect waves-light "><i
              class="material-icons left">person_pin</i>Meus
            Desafios</a>
        </li>
        <li><a (click)="cleanFilters()" class="waves-effect waves-light "><i class="material-icons left">all_inclusive</i>Todos
            os Desafios</a></li>
        <li><a (click)="setStatus('concluído')" class="waves-effect waves-light "><i class="material-icons left">done</i>Desafios
            Concluídos</a></li>
        <li><a (click)="setStatus('submissão')" class="waves-effect waves-light "><i class="material-icons left">archive</i>Desafios
            Submissão</a></li>
        <li><a (click)="setStatus('release')" class="waves-effect waves-light "><i class="material-icons left">near_me</i>Desafios
            Release</a></li>
        <li><a (click)="setRemunerado()" class="waves-effect waves-light "><i class="material-icons left">attach_money</i>Desafios
            Remunerados</a></li>
        <li *ngIf="user.profile != 'Demandante'"><a (click)="setSolucoesFilter()" class="waves-effect waves-light "><i
              class="material-icons left">lightbulb_outline</i>Minhas
            soluções</a></li>
      </ul>
      <ul id='dropdownArea' class='dropdown-content'>
        <li *ngFor="let area of areaoptions | async"><a (click)="setArea(area.nome)" class="waves-effect waves-light ">
            {{area.nome}}</a>
        </li>
      </ul>
    </div>
    <div class="col s6">
      <form class="col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input [(ngModel)]="search" id="icon_prefix" type="text" class="validate" name="search">
          <label for="icon_prefix">Pesquise aqui</label>
        </div>
      </form>
    </div>
  </div>

  <ul class="collapsible popout">
    <ng-container *ngFor="let desafio of desafios | async | filterBy: ['emaildemandante']: userEmail | filterBy: ['status']: status
    | filterBy: ['status', 'nome', 'demandante', 'resumo', 'area']: search | filterBy: ['area']: area | filterBy: ['remunerado']: remunerado">
      <li *ngIf="!solucoesFilter">
        <div [ngClass]="{'green lighten-1 white-text': desafio.status == 'concluído'}" (click)="reInitMaterialize()"
          class="collapsible-header">
          <i *ngIf="desafio.status == 'concluído'" style="margin-right:20px" class="tiny material-icons white-text">done</i>
          {{desafio.nome}}

          <div class="row"></div>
          <span><i [ngClass]="{'white-text': desafio.status == 'concluído'}" class="red-text material-icons">access_time</i></span>Prazo
          para Submissão
          {{desafio.prazo.toDate().toLocaleDateString('pt-BR')}} às
          {{desafio.prazo.toDate().toLocaleTimeString('pt-BR')}}
        </div>
        <div style="position: relative" class="collapsible-body">
          <a style="margin-right:20px" (click)="findOne(desafio.id)" *ngIf="desafio.emaildemandante === user.email && desafio.status != 'concluído'"
            class="btn-floating btn-small waves-effect waves-light blue modal-trigger" href="#modalEdit"><i class="material-icons">edit</i></a>
          <a (click)="findOne(desafio.id)" *ngIf="desafio.emaildemandante === user.email" style="margin-right:20px"
            class="btn-floating btn-small waves-effect waves-light red modal-trigger" href="#modalDelete"><i class="tiny material-icons">delete</i></a>
          <a (click)="findOne(desafio.id)" *ngIf="desafio.emaildemandante === user.email && desafio.status != 'concluído'"
            class="btn-floating btn-small waves-effect waves-light green modal-trigger" href="#modalComplete"><i class="tiny material-icons">done</i></a>

          <p><b class="blue-text text-darken-3">Demandante:</b> {{desafio.demandante}}</p>
          <p><b class="blue-text text-darken-3">Email do Demandante:</b> {{desafio.emaildemandante}}</p>
          <p><b class="blue-text text-darken-3">Área do problema:</b> {{desafio.area}}</p>
          <p><b class="blue-text text-darken-3">Resumo:</b> {{desafio.resumo}}</p>
          <p><b class="blue-text text-darken-3">Remuneração:</b> {{desafio.remunerado}}</p>

          <a (click)="getDesafioId(desafio.id)" style="position: absolute; right:10px; bottom:10px;" *ngIf="desafio.emaildemandante !== user.email && desafio.status != 'concluído' && user.profile != 'Demandante' && !(solucoesArray.includes(desafio.id))"
            class="waves-effect waves-light btn modal-trigger light-blue darken-2" href="#modalSolver"><i class="material-icons left">send</i>Solucionar</a>
          <a (click)="findOneSolver(desafio.id)" style="position: absolute; right:10px; bottom:10px;" *ngIf="desafio.emaildemandante !== user.email && user.profile != 'Demandante' && solucoesArray.includes(desafio.id)"
            class="waves-effect waves-light btn modal-trigger yellow darken-3" href="#modalSeeSolver"><i class="material-icons left">remove_red_eye</i>Ver
            Sua
            Solução</a>

          <ul class="collapsible">
            <ng-container *ngFor="let solucao of solucoes | async">
              <li *ngIf="desafio.id == solucao.idDesafio && desafio.emaildemandante == user.email">
                <div class="collapsible-header amber lighten-2"><i class="material-icons">lightbulb_outline</i>Solução
                  do
                  {{solucao.solver}} - {{solucao.emailsolver}}</div>
                <div class="collapsible-body">
                  <p><b class="blue-text text-darken-3">Enviado em:</b>
                    {{solucao.sendAt.toDate().toLocaleDateString('pt-BR')}} às
                    {{solucao.sendAt.toDate().toLocaleTimeString('pt-BR')}}</p>
                  {{solucao.resumo}}
                </div>
              </li>
            </ng-container>
          </ul>

        </div>
      </li>
    </ng-container>
  </ul>

  <ul class="collapsible popout">
    <ng-container *ngFor="let desafio of desafios | async | filterBy: ['status']: statusConcluido">
      <li *ngIf="solucoesArray.includes(desafio.id) && solucoesFilter">
        <div class="collapsible-header">
          <i *ngIf="desafio.status == 'concluído'" style="margin-right:20px" class="tiny material-icons green-text">done</i>
          {{desafio.nome}}

          <div class="row"></div>
          <span><i class="red-text text-darken-4 material-icons">access_time</i></span>Em
          {{desafio.prazo.toDate().toLocaleDateString('pt-BR')}} às
          {{desafio.prazo.toDate().toLocaleTimeString('pt-BR')}}
        </div>
        <div style="position: relative" class="collapsible-body">

          <p><b class="blue-text text-darken-3">Demandante:</b> {{desafio.demandante}}</p>
          <p><b class="blue-text text-darken-3">Email do Demandante:</b> {{desafio.emaildemandante}}</p>
          <p><b class="blue-text text-darken-3">Área do problema:</b> {{desafio.area}}</p>
          <p><b class="blue-text text-darken-3">Resumo:</b> {{desafio.resumo}}</p>

          <a (click)="findOneSolver(desafio.id)" style="position: absolute; right:10px; bottom:10px;" *ngIf="desafio.emaildemandante !== user.email"
            class="waves-effect waves-light btn modal-trigger yellow darken-3" href="#modalSeeSolver"><i class="material-icons left">remove_red_eye</i>Ver
            Solução</a>
        </div>
      </li>
    </ng-container>
  </ul>
</div>
-->
<!-- Modal Create Desafio
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Criar Novo Desafio</h4>
    <form id="myForm" (keyup.enter)="createDesafio()" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input [(ngModel)]="desafio.nome" id="nome" type="text" class="validate" name="nome" required=""
            aria-required="true">
          <label for="nome">Nome do desafio *</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select [(ngModel)]="desafio.area" name="area">
            <ng-container *ngFor="let area of areaoptions | async">
              <option value="{{area.nome}}">{{area.nome}}</option>
            </ng-container>

          </select>
          <label>Área do Desafio *</label>
        </div>
        <div class="input-field col s3">
          <input [(ngModel)]="prazo" id="prazo" name="prazo" type="text" class="datepicker validate">
          <label for="prazo">Prazo do desafio (data) *</label>
        </div>
        <div class="input-field col s3">
          <input [(ngModel)]="hora" id="h" name="h" type="text" class="timepicker validate">
          <label for="h">Prazo do desafio (hora) *</label>
        </div>
      </div>
      <div class="row">
        <p>
          <label>
            <input [(ngModel)]="desafio.remunerado" value="Sim" name="remunerado" type="radio" />
            <span>Remunerado</span>
          </label>
        </p>
        <p>
          <label>
            <input value="Não" name="remunerado" type="radio" checked />
            <span>Não Remunerado</span>
          </label>
        </p>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea [(ngModel)]="desafio.resumo" id="resumo" class="materialize-textarea validate" name="resumo"
            required="" aria-required="true"></textarea>
          <label for="resumo">Resumo do desafio *</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a style="margin-right:20px" class="waves-effect waves-light btn red modal-close">Cancelar</a>
    <a class="waves-effect waves-light btn green" (click)="createDesafio()">Criar</a>
  </div>
</div>-->

<!-- Modal Delete Desafio -->
<div id="modalDelete" class="modal">
  <div class="modal-content">
    <h4>Confirmação</h4>
    <p>Tem certeza que deseja excluir este desafio? Todos os dados referentes a ele serão perdidos.</p>
  </div>
  <div class="modal-footer">
    <a style="margin-right:20px" class="waves-effect waves-light btn modal-close">Não deletar</a>
    <a class="waves-effect waves-light btn red" (click)="deleteDesafio()">Deletar</a>
  </div>
</div>

<!-- Modal Edit Desafio
<div id="modalEdit" class="modal">
  <div class="modal-content">
    <h4>Editar Desafio</h4>
    <form (keyup.enter)="editDesafio()" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <span>Nome do desafio *</span>
          <input [(ngModel)]="found.nome" id="nome" type="text" name="nome" required="" aria-required="true">

        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <span>Área do desafio *</span>
          <select [(ngModel)]="found.area" name="area">
            <ng-container *ngFor="let area of areaoptions | async">
              <option value="{{area.nome}}">{{area.nome}}</option>
            </ng-container>
          </select>
        </div>
        <div class="input-field col s3">
          <span>Prazo do desafio (data)*</span>
          <input [(ngModel)]="prazo" id="prazoEdit" name="prazo" type="text" class="datepicker">
        </div>
        <div class="input-field col s3">
          <span>Prazo do desafio (hora)*</span>
          <input [(ngModel)]="hora" id="hEdit" name="h" type="text" class="timepicker">
        </div>
      </div>
      <div class="row">
        <p>
          <label>
            <input [(ngModel)]="found.remunerado" value="Sim" name="remunerado" type="radio" />
            <span>Remunerado</span>
          </label>
        </p>
        <p>
          <label>
            <input value="Não" name="remunerado" type="radio" checked />
            <span>Não Remunerado</span>
          </label>
        </p>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <span>Resumo do desafio (data)*</span>
          <textarea [(ngModel)]="found.resumo" id="resumo" class="materialize-textarea" name="resumo" required=""
            aria-required="true"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a style="margin-right:20px" class="waves-effect waves-light btn red modal-close">Cancelar</a>
    <a class="waves-effect waves-light btn green" (click)="editDesafio()">Editar</a>
  </div>
</div>-->

<!-- Modal Solução
<div id="modalSolver" class="modal">
  <div class="modal-content">
    <h4>Enviar Solução</h4>
    <form id="formSolver" (keyup.enter)="enviarSolver()" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea [(ngModel)]="solver.resumo" id="resumo" class="materialize-textarea" name="resumo" required=""
            aria-required="true"></textarea>
          <label for="resumo">Resumo da solução *</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a style="margin-right:20px" class="waves-effect waves-light btn red modal-close">Cancelar</a>
    <a class="waves-effect waves-light btn green" (click)="enviarSolver()">Enviar</a>
  </div>
</div> -->

<!-- Modal Ver Solução
<div id="modalSeeSolver" class="modal">
  <div class="modal-content">
    <h4>Solução Enviada</h4>
    <hr>
    <p><b class="blue-text text-darken-3">Enviado em:</b> {{solverFound.sendAt}}</p>
    <p>{{solverFound.resumo}}</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn red modal-close">Sair</a>
  </div>
</div> -->

<!-- Modal Desafio Complete
<div id="modalComplete" class="modal">
  <div class="modal-content">
    <h4>Confirmação</h4>
    <p>Tem certeza que deseja marcar este desafio como concluído? Não será mais possível receber soluções para ele.</p>
  </div>
  <div class="modal-footer">
    <a style="margin-right:20px" class="waves-effect waves-light btn red modal-close">Não concluir</a>
    <a class="waves-effect waves-light btn green" (click)="completeDesafio()">Concluir</a>
  </div>
</div>-->
