<div class="uk-section">
  <div class="uk-container">
    <h2 class="ap-title"><b>Desafios</b></h2>

    <form id="desafiosForm">
      <div uk-grid>
        <div class="uk-width-1-2">

          <a class="uk-button uk-button-default" href="" uk-toggle="target: #modal-criar-novo"
            (click)="toggleEditar()"><span class="uk-margin-right" uk-icon="icon: plus"></span>
            Criar Novo</a>
          <div class="uk-inline">
            <button class="uk-button uk-button-default" type="button" uk-icon="icon: triangle-down">Área</button>
            <div uk-dropdown>
              <ul class="uk-nav uk-dropdown-nav">
                <li *ngFor="let area of areaoptions | async"><a (click)="setArea(area.nome)">{{area.nome}}</a></li>
              </ul>
            </div>
          </div>

          <div class="uk-inline">
            <button class="uk-button uk-button-default" type="button" uk-icon="icon: triangle-down">Ver</button>
            <div uk-dropdown>
              <ul class="uk-nav uk-dropdown-nav">
                <li *ngIf="user?.profile !== 'Solucionador'" class="uk-active"><a (click)="setUserEmail()"><i
                      class="fas fa-user uk-margin-right"></i>Meus
                    Desafios</a></li>
                <li (click)="cleanFilters()" class="uk-active"><a><i class="fas fa-infinity uk-margin-right"></i>Todos
                    os Desafios</a></li>
                <li class="uk-active"><a (click)="setStatus('concluído')"><i
                      class="fas fa-check uk-margin-right"></i>Desafios
                    Concluídos</a></li>
                <li class="uk-active"><a (click)="setStatus('submissão')"><i
                      class="fas fa-file-download uk-margin-right"></i>Desafios
                    Submissão</a></li>
                <li class="uk-active"><a (click)="setStatus('release')"><i
                      class="fas fa-location-arrow uk-margin-right"></i>Desafios
                    Release</a></li>
                <li class="uk-active"><a (click)="setRemunerado()"><i
                      class="fas fa-dollar-sign uk-margin-right"></i>Desafios
                    Remunerados</a></li>
                <li *ngIf="user?.profile != 'Demandante'" class="uk-active"><a (click)="minhasSolucoes()"><i
                      class="far fa-lightbulb uk-margin-right"></i>Minhas
                    soluções</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div>

          <div class="uk-margin">
            <form class="uk-search uk-search-default uk-width-large">
              <span class="uk-search-icon-flip" uk-search-icon></span>
              <input [(ngModel)]="search" name="search" class="uk-search-input" type="search" placeholder="Pesquisar">
            </form>
          </div>
        </div>

        <div class="uk-width-1-1">
          <ul class="uk-box-shadow-medium" uk-accordion="collapsible: true"
            *ngFor="let desafio of desafios | async | filterBy: ['emaildemandante']: userEmail | filterBy: ['status']: status
            | filterBy: ['status', 'nome', 'demandante', 'resumo', 'area']: search | filterBy: ['area']: areaFilter | filterBy: ['remunerado']: remuneradoFilter">
            <li *ngIf="!solucoesFilter">
              <a class="uk-accordion-title bg-grey"
                [ngClass]="{'bg-green accordion-text': desafio.status == 'concluído'}" href="#">{{desafio.nome}} <span
                  class="uk-align-right"><i class="far fa-clock uk-margin-right"></i>Prazo para Submissão
                  {{desafio.prazo}}</span></a>
              <div class="uk-accordion-content">
                <a href="" class="uk-icon-button uk-margin-right icon-blue" title="Editar Desafio"
                  uk-toggle="target: #modal-criar-novo" (click)="findOne(desafio.id)"><i
                    class="fas fa-pencil-alt"></i></a>
                <a href="" class="uk-icon-button uk-margin-right icon-red" uk-toggle="target: #modal-deletar-desafio"
                  title="Deletar Desafio" (click)="setDesafioExcluir(desafio.id)"><i class="far fa-trash-alt"></i></a>
                <a href="" class="uk-icon-button uk-margin-right icon-green" title="Concluir Desafio"
                  uk-toggle="target: #modal-concluir-desafio" (click)="findOne(desafio.id)"><i
                    class="fas fa-check"></i></a>

                <p><b>Demandante: </b>{{desafio.demandante}}</p>
                <p><b>Email do Demandante: </b>{{desafio.emaildemandante}}</p>
                <p><b>Área do problema: </b>{{desafio.area}}</p>
                <p><b>Resumo: </b>{{desafio.resumo}}</p>
                <p><b>Remuneração: </b>{{desafio.remunerado}}</p>

                <ul class="uk-margin-large-right uk-margin-large-left" uk-accordion
                  *ngFor="let solucao of solucoes | async">
                  <li *ngIf="desafio.id == solucao.idDesafio && desafio.emaildemandante == user.email">
                    <a class="uk-accordion-title bg-yelllow" href="#"><i
                        class="fas fa-lightbulb uk-margin-right"></i>Solução do
                      {{solucao.solver}} - {{solucao.emailsolver}}</a>
                    <div class="uk-accordion-content">
                      <p><b class="blue-text text-darken-3">Enviado em:</b>
                        {{solucao.sendAt.toDate().toLocaleDateString('pt-BR')}} às
                        {{solucao.sendAt.toDate().toLocaleTimeString('pt-BR')}}</p>
                      {{solucao.resumo}}
                    </div>
                  </li>
                </ul>

                <a class="uk-button uk-button-primary" uk-toggle="target: #modal-criar-novo"
                  (click)="getDesafioId(desafio.id)" uk-toggle="target: #modal-solucao-desafio"
                  *ngIf="desafio.emaildemandante !== user?.email && desafio.status != 'concluído' && user?.profile != 'Demandante' && !(solucoesArray.includes(desafio.id))"><span
                    class="uk-margin-right" uk-icon="icon: file-edit"></span>
                  Solucionar</a>
                <a class="uk-button uk-button-primary" (click)="findOneSolver(desafio.id)"
                  *ngIf="desafio.emaildemandante !== user.email && user.profile != 'Demandante' && solucoesArray.includes(desafio.id)"
                  uk-toggle="target: #modal-ver-solucao" (click)="findOneSolver(desafio.id)"><i
                    class="far fa-eye uk-margin-right"></i>Visualizar Solução</a>
              </div>
            </li>
          </ul>
          <ul class="uk-box-shadow-medium" uk-accordion="collapsible: true"
          *ngFor="let desafio of desafios | async | filterBy: ['status']: statusConcluido">
            <li *ngIf="solucoesArray.includes(desafio.id) && solucoesFilter">
              <a class="uk-accordion-title bg-grey"
                [ngClass]="{'bg-green accordion-text': desafio.status == 'concluído'}" href="#">{{desafio.nome}} <span
                  class="uk-align-right"><i class="far fa-clock uk-margin-right"></i>Prazo para Submissão
                  {{desafio.prazo}}</span></a>
              <div class="uk-accordion-content">
                <a href="" class="uk-icon-button uk-margin-right icon-blue" title="Editar Desafio"
                  uk-toggle="target: #modal-criar-novo" (click)="findOne(desafio.id)"><i
                    class="fas fa-pencil-alt"></i></a>
                <a href="" class="uk-icon-button uk-margin-right icon-red" uk-toggle="target: #modal-deletar-desafio"
                  title="Deletar Desafio" (click)="setDesafioExcluir(desafio.id)"><i class="far fa-trash-alt"></i></a>
                <a href="" class="uk-icon-button uk-margin-right icon-green" title="Concluir Desafio"
                  uk-toggle="target: #modal-concluir-desafio" (click)="findOne(desafio.id)"><i
                    class="fas fa-check"></i></a>

                <p><b>Demandante: </b>{{desafio.demandante}}</p>
                <p><b>Email do Demandante: </b>{{desafio.emaildemandante}}</p>
                <p><b>Área do problema: </b>{{desafio.area}}</p>
                <p><b>Resumo: </b>{{desafio.resumo}}</p>
                <p><b>Remuneração: </b>{{desafio.remunerado}}</p>

                <ul class="uk-margin-large-right uk-margin-large-left" uk-accordion
                  *ngFor="let solucao of solucoes | async">
                  <li *ngIf="desafio.id == solucao.idDesafio && desafio.emaildemandante == user.email">
                    <a class="uk-accordion-title bg-yelllow" href="#"><i
                        class="fas fa-lightbulb uk-margin-right"></i>Solução do
                      {{solucao.solver}} - {{solucao.emailsolver}}</a>
                    <div class="uk-accordion-content">
                      <p><b class="blue-text text-darken-3">Enviado em:</b>
                        {{solucao.sendAt.toDate().toLocaleDateString('pt-BR')}} às
                        {{solucao.sendAt.toDate().toLocaleTimeString('pt-BR')}}</p>
                      {{solucao.resumo}}
                    </div>
                  </li>
                </ul>

                <a class="uk-button uk-button-primary" uk-toggle="target: #modal-criar-novo"
                  (click)="getDesafioId(desafio.id)" uk-toggle="target: #modal-solucao-desafio"
                  *ngIf="desafio.emaildemandante !== user?.email && desafio.status != 'concluído' && user?.profile != 'Demandante' && !(solucoesArray.includes(desafio.id))"><span
                    class="uk-margin-right" uk-icon="icon: file-edit"></span>
                  Solucionar</a>
                <a class="uk-button uk-button-primary" (click)="findOneSolver(desafio.id)"
                  *ngIf="desafio.emaildemandante !== user.email && user.profile != 'Demandante' && solucoesArray.includes(desafio.id)"
                  uk-toggle="target: #modal-ver-solucao" (click)="findOneSolver(desafio.id)"><i
                    class="far fa-eye uk-margin-right"></i>Visualizar Solução</a>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </form>
  </div>
</div>

<!--Modal Criar Novo / Editar Desafio-->
<div id="modal-criar-novo" uk-modal>
  <div style="width: 800px;" class="uk-modal-dialog uk-modal-body">
    <form id="createForm" #createForm="ngForm">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <h2 class="uk-modal-title ap-title">{{tituloModal}}</h2>


      <div uk-grid>
        <div class="uk-width-1-1">
          <input [class.uk-form-danger]="!nome.valid && nome.touched" id="nome" class="uk-input" type="text" name="nome"
            [(ngModel)]="desafio.nome" required placeholder="Nome do Desafio" #nome="ngModel">
          <span class="uk-text-small" *ngIf="!nome.valid && nome.touched">Nome é obrigatório</span>
        </div>

        <div class="uk-width-1-2">
          <select [class.border-red]="!area.value && area.touched" id="selectArea" name="area"
            [(ngModel)]="desafio.area" class="uk-select" #area="ngModel">
            <option [ngValue]="default" [selected]="true" [disabled]="true">Selecione a Área</option>
            <option *ngFor="let area of areaoptions | async" [ngValue]="area.nome" [selected]="Selecione">
              {{ area.nome }}
            </option>
          </select>
          <span class="uk-text-small" *ngIf="!area.value && area.touched">Área é obrigatório</span>
        </div>
        <div class="uk-width-1-2">
          <ng2-flatpickr *ngIf="flagEditar; else create" id="prazo" name="prazo" [config]="exampleOptions"
            placeholder="{{desafio.prazo}}">
          </ng2-flatpickr>
          <ng-template #create>
            <ng2-flatpickr id="prazo" name="prazo" [config]="exampleOptions"
              placeholder="Selecione o Prazo para submissão">
            </ng2-flatpickr>
          </ng-template>

        </div>

        <div>
          <label [class.color-success]="createForm.value.remunerado">Desafio Remunerado <input id="remunerado"
              #remunerado class="uk-checkbox" [(ngModel)]="desafio.remunerado" type="checkbox"
              name="remunerado"></label>
        </div>

        <div class="uk-width-1-1">
          <textarea [class.border-red]="!resumo.valid && resumo.touched" id="resumo" class="uk-textarea" name="resumo"
            required [(ngModel)]="desafio.resumo" placeholder="Resumo do Desafio" #resumo="ngModel"></textarea>
          <span class="uk-text-small" *ngIf="!resumo.valid && resumo.touched">Resumo é obrigatório</span>
        </div>

      </div>


      <div class="uk-flex uk-flex-right uk-margin-top">
        <div>
          <button class="uk-button uk-button-primary uk-margin-right" *ngIf="!flagEditar; else editar"
            [disabled]="!(createForm.value.area) || !(createForm.valid)" (click)="createDesafio(createForm)">Criar
            Desafio</button>
          <ng-template #editar>
            <button class="uk-button uk-button-primary uk-margin-right" (click)="editDesafio(desafio.id)"
              [disabled]="!(createForm.value.area) || !(createForm.valid)">Editar
              Desafio</button>
          </ng-template>
          <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--Modal Deletar Desafio-->
<div id="modal-deletar-desafio" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div class="uk-modal-header">
      <h2 class="uk-modal-title ap-title">Confirmação</h2>
    </div>
    <div class="uk-modal-body">
      <p>Tem certeza que deseja excluir este desafio? Todos os dados referentes a ele serão perdidos.</p>
    </div>

    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-primary uk-margin-right" type="button" (click)="deleteDesafio()">Deletar
        Desafio</button>
      <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
    </div>

  </div>
</div>

<!--Modal Concluir Desafio-->
<div id="modal-concluir-desafio" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div class="uk-modal-header">
      <h2 class="uk-modal-title ap-title">Confirmação</h2>
    </div>
    <div class="uk-modal-body">
      <p>Tem certeza que deseja marcar este desafio como concluído? Não será mais possível receber soluções para ele.
      </p>
    </div>

    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-primary uk-margin-right" type="button"
        (click)="completeDesafio(desafio.id)">Confirmar
        Conclusão</button>
      <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
    </div>
  </div>
</div>

<!-- Modal Enviar Solução-->
<div id="modal-solucao-desafio" uk-modal>
  <div style="width: 500px;" class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title ap-title">Enviar Solução</h2>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <form id="solucaoForm" #solucaoForm="ngForm" (keyup.enter)="enviarSolver()">
      <textarea class="uk-textarea" [class.border-red]="!resumo.valid && resumo.touched" name="resumo"
        [(ngModel)]="solver.resumo" placeholder="Resumo da Solução" required="" aria-required="true"
        #resumo="ngModel"></textarea>
      <span class="uk-text-small" *ngIf="!resumo.valid && resumo.touched">Resumo da solução é obrigatório</span>
    </form>
    <div class="uk-flex uk-flex-right uk-margin-top">
      <div>
        <button class="uk-button uk-button-primary uk-margin-right" type="button" (click)="enviarSolver()"
          [disabled]="!(solucaoForm.valid)">Enviar</button>
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Ver Solução -->
<div id="modal-ver-solucao" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div class="uk-modal-header">
      <h2 class="uk-modal-title ap-title">Solução Enviada</h2>
    </div>
    <div class="uk-modal-body">
      <p>Enviado em: {{solverFound.sendAt}}</p>
      <p>{{solverFound.resumo}}</p>
    </div>

    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-primary uk-modal-close" type="button">Fechar</button>
    </div>

  </div>
</div>