@import "assets/sass/variables";
@import "assets/sass/mixins";

body {
  font-family: "Montserrat", sans-serif;
}

.brand-logo img {
  height: 45px;
}

.font-bold {
  font-weight: 600;
}

.navbar {
  background-color: $color-navbar !important;
  .uk-navbar-center {
    a {
      color: $bg-item-nav;
      font-family: "Montserrat", sans-serif;
      text-transform: capitalize;
      &:active {
        color: $bg-item-nav !important;
      }
    }
    li:hover {
      a.active {
        color: $color-navbar !important;
        opacity: 1;
        transition: all 0.7s ease;
      }
      a {
        color: $bg-item-nav !important;
        opacity: 0.7;
        transition: all 0.7s ease;
      }
    }
  }
}

.uk-select {
  option {
    font-size: 0.8em !important;
  }
}

#icon-user {
  &:hover {
    color: $color-white;
  }
  &:active {
    color: $color-white;
  }
  &:focus {
    color: $color-white;
  }
}

.active {
  background-color: $bg-item-nav;
  color: $color-navbar !important;
  opacity: 1 !important;
}

.uk-navbar-dropdown-nav a {
  color: $color-navbar;
}

.uk-button-text {
  text-transform: initial !important;
}

.uk-button {
  text-transform: capitalize;
  border-radius: 20px;
  &:hover {
    border-radius: 0px;
    transition: all 1s ease;
  }
}

.uk-notification-message-primary {
  background-color: $notify-primary;
  @include estilo-notify;
}

.uk-notification-message-success {
  background-color: $notify-success;
  @include estilo-notify;
}

.uk-notification-message-danger {
  background-color: $notify-danger;
  @include estilo-notify;
}

.uk-notification-message-warning {
  background-color: $notify-warning;
  @include estilo-notify;
}

.img-home {
  background: url("http://www.ucatx.cat/wallpic/full/142/1428846/strategy-wallpaper.jpg") no-repeat center center;
  background-size: cover;
}

.title-login {
  color: $color-navbar !important;
  font-size: 3vw;
}

.uk-card {
  border-radius: 20px;
}

.page-footer {
  background-color: $color-navbar;
}

.white-text {
  color: $color-white;
  font-weight: bold;
  font-size: 1.1em;
}

.ap-title {
  color: #007fa3;
}

.row-btn-toggle {
  margin: 0;
  background-color: $color-navbar;
}

.btn-toggle {
  border: none;
}

@media screen and (max-width: 500px) {
  .merge div {
    margin-right: 13px;
  }
}

.uk-list li {
  color: $color-text-footer;
}

.wc-date-container[_ngcontent-c4] {
  border: 1px solid #e5e5e5 !important;
  padding: 9px !important;
  height: 42px !important;
}

.wc-date-container[_ngcontent-c4] > span[_ngcontent-c4] {
  color: #666 !important;
}

.flatpickr-confirm {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
}

input,
select,
textarea {
  border-radius: 10px !important;
}

.has-error {
  border: 1px solid crimson;
}

.uk-text-small {
  color: crimson;
}

.border-red, .border-red:focus {
  border: 1px solid red;
}

.color-success {
  color: $notify-success;
  font-weight: bold;
}