@import "assets/sass/variables";
@import "assets/sass/mixins";

body {
  font-family: "Montserrat", sans-serif;
}

.brand-logo img {
  height: 45px;
}

.font-bold {
  font-weight: 600;
}

.navbar {
  background-color: $color-navbar !important;
  .uk-navbar-center {
    a {
      color: $bg-item-nav;
      font-family: "Montserrat", sans-serif;
      text-transform: capitalize;
      &:active {
        color: $bg-item-nav !important;
      }
    }
    li:hover {
      a {
        color: $bg-item-nav !important;
        opacity: 0.7;
        transition: all 0.7s ease;
      }
    }
  }
}

.uk-open {
  color: $color-white !important;
}

#icon-user {
  
  &:hover {
    color: $color-white;
  }
  &:active {
    color: $color-white;
  }
  &:focus {
    color: $color-white;
  }
}

.active {
  background-color: $bg-item-nav;
  color: $color-navbar !important;
  opacity: 1;
}

.uk-navbar-dropdown-nav a {
  color: $color-navbar;
}

.uk-button-text {
  text-transform: initial !important;
}

.uk-button {
  text-transform: capitalize;
  border-radius: 20px;
  &:hover {
    border-radius: 0px;
    transition: all 1s ease;
  }
}

.uk-notification-message-success {
  background-color: $notify-success;
  color: $color-white;
}

.uk-notification-message-danger {
  background-color: $notify-danger;
  color: $color-white;
}

.uk-notification-message-warning {
  background-color: $notify-warning;
  color: $color-white;
}

.img-home {
  background: url("http://www.ucatx.cat/wallpic/full/142/1428846/strategy-wallpaper.jpg") no-repeat center center;
  background-size: cover;
}

.title-login {
  color: #01579b;
  font-size: 3vw;
}

.uk-card {
  border-radius: 20px;
}

.page-footer {
  background-color: #01579b;
}

.white-text {
  color: $color-white;
  font-weight: bold;
  font-size: 1.5vw;
}

.cadastro-title {
  color: #007fa3;
  font-size: 1.5em;
}

@media screen and (max-width: 500px) {
  .merge div {
    margin-right: 13px;
  }
}
