/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Montserrat', sans-serif;
}

.brand-logo img{
    height: 45px;
}

.font-bold {
    font-weight: 600;
}

#dropdown1 {
    width: 200px !important;
}

#dropdownArea {
    width: 300px !important;
}

#dropdownVer {
    width: 250px !important;
}

#dropdown1 li:hover {
    background-color: #ffee58 !important;
}