<div class="uk-section img-home">
    <div class="uk-container">
        <div class="uk-child-width-1-2@s uk-flex uk-flex-center" uk-grid>
            <div>
                <div *ngIf="!user" class="uk-card uk-card-default uk-card-large uk-card-body ">
                    <h3 align="center" class="uk-card-title title-login">Login</h3>
                    <form (keyup.enter)="login()">

                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" type="text" name="email" [(ngModel)]="email">
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                <input class="uk-input" type="password" name="senha" [(ngModel)]="password">
                            </div>
                        </div>

                    </form>
                    <div class="uk-flex uk-flex-center">
                        <div>
                            <button class="uk-button uk-button-primary entrar" (click)="login()">Entrar</button>
                        </div>
                    </div>
                    <br>
                    <div class="uk-flex uk-flex-between">
                        <div><a class="uk-button uk-button-text" href="" routerLink="/cadastro">Cadastrar-se</a></div>
                        <div><button class="uk-button uk-button-text" (click)="forgotPassword()">Recuperar
                                senha</button></div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>