@mixin centralizar {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin estilo-notify {
  font-size: 1em;
  color: $color-white;
}

@mixin bg-icons($color) {
  text-decoration-color: white;
  background-color: $color;
  i {
    color: white;
  }
}